{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{taskCategory.name}}</h1>
<!-- Painikkeet tähän -->
<p>
    {{forms.destroy_button("#{base_path}/task/category/#{category.id}/destroy")}}

    <a class="btn btn-default btn-sm" href="{{base_path}}/task/category/{{category.id}}/edit">Muokkaa</a>
</p>
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<!-- Tiedot tulee listana tähän -->
<p> Tähän tulee lista kaikista askareista joilla on tämä kategoria </p>
{% endblock %}