{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{taskCategory.name}}</h1>
<!-- Painikkeet tähän -->
<p>
    {{forms.destroy_button("#{base_path}/task/category/#{taskCategory.id}/destroy")}}

    <a class="btn btn-default btn-sm" href="{{base_path}}/task/category/{{taskCategory.id}}/edit">Muokkaa</a>
</p>
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<!-- Tiedot tulee listana tähän -->

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Kategoriaan kuuluvat askareet: </th>
        </tr>
    </thead>
    <tbody>
        {% for task in taskCategory.tasks %}
        <tr>
            <td>
                <a href="{{base_path}}/task/{{task.id}}">{{task.name}}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}