{% macro destroy_button(action, text) %}

<form method="post" action="{{action}}" style="display: inline-block;" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa kohteen?">
    <button type="submit" class="btn btn-danger">{{text|default('Poista')}}</button>
</form>

{% endmacro %}

{% macro done_button(action, text) %}

<form method="post" action="{{action}}" style="display: inline-block;" class="destroy-form" data-confirm="Haluatko varmasti merkitä Askareen suoritetuksi?">
    <button type="submit" class="btn btn-success">{{text|default('Valmis')}}</button>
</form>

{% endmacro %}