{% extends "base.html" %}
{% block content %}
<h1>Askarelista</h1>

<p>
    <a href="{{base_path}}/task/new" class="btn btn-success">Uusi Askare</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Askare</th>
            <th>Tärkeys</th>
            <th>Luokat</th>
            <th>Deadline</th>       
            <th>Vaiheessa</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for task in tasks %}

        <tr>
            <td><a href="{{base_path}}/task/{{task.id}}">{{task.name}}</a></td>
            <td>3</td>
            <td>Luokat, Tulossa</td>
            <td>30.10.2016 klo 12.00</td>
            <td>
                {% if task.done %}
                <label class="label label-success">ei
                    {% else %}
                    <label class="label label-warning">ON
                        {% endif %}

                        </td>
                        <th><a class="btn btn-default btn-sm" href="{{base_path}}/task/{{task.id}}/edit">Muokkaa</a>
                        <form method="post" action="{{base_path}}/task/{{task.id}}/destroy" style="display: inline-block;">
                            <button type="submit" class="btn btn-danger">Poista</button>
                        </form></th>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        {% endblock %}