{% extends "base.html" %}
{% block content %}


<h1>Lisää uusi askare</h1>


{%if errors%}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li> {{error}}</li>
        {%endfor%}
    </ul>
</div>
{% endif %}
<form method="post" action="{{base_path}}/task">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>

    <div class="form-group">
        <label>Kuvaus</label>
        <textarea name="description" class="form-control">{{attributes.description}}</textarea>
    </div>

    <div class="form-group">
        <label>Deadline (kk-pp-vvvv)</label>
        <input type="date" name="deadline" class="form-control" id="theDate"><br></br>
    </div>

    <div class="form-group">
        <label>Askarekategoriat</label>
        <select class="form-control" name="categories[]" multiple="">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Lisää</button>
        </div>
</form>
{% endblock %}


