{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Askarelista</h1>

<p>
    <a href="{{base_path}}/task/new" class="btn btn-success">Uusi Askare</a>
</p>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Askare</th>
            <th>Kategoriat</th>
            <th>Deadline</th>       
            <th>Vaiheessa</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for task in tasks %}

        <tr>
            <td><a href="{{base_path}}/task/{{task.id}}">{{task.name}}</a></td>
            <td>

                {% for category in task.categories %}
                <a href="{{base_path}}/task/category/{{category.id}}">{{category.name}}</a><br>
                {% endfor %}
            </td>
            <td>{{task.deadline}}</td>
            <td>
                {% if task.done %}
                <label class="label label-success">EI
                    {% else %}
                    <label class="label label-warning">ON
                        {% endif %}

                        </td>
                        
                        <th>
                            {% if task.done == false %}
                            <a class="btn btn-default btn-sm" href="{{base_path}}/task/{{task.id}}/edit">Muokkaa</a>
                            {{forms.done_button("#{base_path}/task/#{task.id}/done")}}
                            {% endif %}
                            {{forms.destroy_button("#{base_path}/task/#{task.id}/destroy")}}
                        </th>

                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        {% endblock %}