{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>{{task.name}}</h1>
<p>
    {{forms.destroy_button("#{base_path}/task/#{task.id}/destroy")}}
    

    {% if task.done==false %}
    <a href="{{base_path}}/task/{{task.id}}/edit" class="btn btn-default">Muokkaa</a>
    {{forms.done_button("#{base_path}/task/#{task.id}/done")}}
    {% endif %}
</p>
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<ul>

    
    <li><strong>Deadline:</strong>{{task.deadline}}</li>
    <li><strong>Vaiheessa:</strong>
        {% if task.done %}
        <label class="label label-success">EI
            {% else %}
            <label class="label label-warning">ON
                {% endif %}</li>
                <li><strong>Lisätty: </strong>{{task.added}}</li>
                </ul>
                <p>
                <h2> Tarkempi kuvaus: </h2>
                {{task.description}}
                </p>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Askareen kategoriat: </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in task.categories %}
                        <tr>
                            <td>
                                <a href="{{base_path}}/task/category/{{category.id}}">{{category.name}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% endblock %}